<nav class="navbar">
  <div class="container-fluid">
    <img src="assets/images/download.png" class="img">
    <ul class="ul">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" ><a routerLink="/">Home</a></li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/about">About</a></li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/product">Products</a></li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/contact">Contact</a></li> 
    </ul>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <ul class="ul">
      <li><a routerLink="/profile">Profile</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>