<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="profile">
        <img src="assets/images/profile.jpg" alt="" class="image">
        <h3>{{name}}</h3>
        <h6>{{details.email}}</h6>
        <p>Address:{{details.house}},{{details.place}},<br>{{details.post}},{{details.state}}</p>
        <a routerLink="/order"> View Your Cart</a> <br><br>
        <a href="/or">{{myorder}}</a>
    </div>
</body>
</html>
