<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="home">
        <div class="left">
            <img src="assets/images/family.jpg" class="img1">
        </div>
        <div class="right">
            <h1>Shop Now !</h1>
            <h2>Western Wear Min 30% Off</h2>
            <p>Explore</p>
        </div>
    </div>
    <app-product></app-product>  <!--Selector of product component-->
</body>
</html>
